#secondary, #primary {
  height: calc(100vh - 90px);
  overflow-y: scroll;
}
#primary{
  overflow-x: hidden;
}
#secondary::-webkit-scrollbar, #primary::-webkit-scrollbar {
  width: 7px;
}

#secondary::-webkit-scrollbar-track{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}
#primary::-webkit-scrollbar-track {
  display: none;
}

#secondary::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}
#primary::-webkit-scrollbar-thumb{
  width: 0;
}
